In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
file_path = 'tweets.tsv'
tweets = pd.read_csv(file_path, sep='\t')

/var/folders/1p/h191j1g97h7fp_g5rwt17vrr0000gp/T/ipykernel_89226/2933868264.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv(file_path, sep='\t')

In [3]:
notes_path = '../data/scored_notes.tsv'
notes = pd.read_csv(notes_path, sep='\t')

/var/folders/1p/h191j1g97h7fp_g5rwt17vrr0000gp/T/ipykernel_89226/3918179298.py:2: DtypeWarning: Columns (7,35) have mixed types. Specify dtype option on import or set low_memory=False.
  notes = pd.read_csv(notes_path, sep='\t')

In [4]:
notes['is_helpful'] = notes['coreNoteIntercept'] >= 0.4

In [6]:
notes_0 = pd.read_csv("../data/notes-00000.tsv", sep='\t')

/var/folders/1p/h191j1g97h7fp_g5rwt17vrr0000gp/T/ipykernel_89226/121191899.py:1: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  notes_0 = pd.read_csv("../data/notes-00000.tsv", sep='\t')

In [7]:
notes_modified = pd.merge(notes, notes_0, on=['noteId'], how='left')

In [8]:
helpful_notes_count = notes_modified.groupby('tweetId')['is_helpful'].sum().reset_index()
helpful_notes_count.rename(columns={'is_helpful': 'helpful_note_count'}, inplace=True)

In [9]:
tweets.rename(columns={'Unnamed: 0': 'tweetId'}, inplace=True)
tweets

,tweetId,errors,data,includes,error
0,1653785862847561731,"[{'resource_id': '1653785862847561731', 'param...",NaN,NaN,NaN
1,1653785803179409408,"[{'resource_id': '1653785803179409408', 'param...",NaN,NaN,NaN
2,1653785675165237249,NaN,"{'id': '1653785675165237249', 'context_annotat...","{'media': [{'height': 675, 'type': 'photo', 'w...",NaN
3,1653795300077875200,NaN,"{'possibly_sensitive': False, 'entities': {'an...","{'users': [{'url': 'https://t.co/uoSJIaYIBz', ...",NaN
4,1653796562684739590,NaN,"{'created_at': '2023-05-03T16:20:01.000Z', 'ed...",{'users': [{'description': 'Ukraine combat foo...,NaN
...,...,...,...,...,...
449841,1696407681022435515,NaN,{'edit_history_tweet_ids': ['16964076810224355...,"{'users': [{'username': 'GrablyR', 'entities':...",NaN
449842,1751732816612655441,NaN,"{'created_at': '2024-01-28T22:23:43.000Z', 'en...","{'media': [{'width': 1280, 'height': 720, 'med...",NaN
449843,1745113463276675319,NaN,{'edit_history_tweet_ids': ['17451134632766753...,{'media': [{'media_key': '7_174511156020763033...,NaN
449844,1712301331766034680,NaN,"{'entities': {'annotations': [{'start': 35, 'e...","{'media': [{'duration_ms': 18006, 'media_key':...",NaN
449845,1740598518346334705,"[{'value': '1740598518346334705', 'detail': 'C...",{'attachments': {'media_keys': ['7_17005423961...,"{'media': [{'width': 504, 'preview_image_url':...",NaN

In [10]:
merged_df = pd.merge(tweets, helpful_notes_count, on='tweetId', how='left')
merged_df['helpful_note_count'].fillna(0, inplace=True)

/var/folders/1p/h191j1g97h7fp_g5rwt17vrr0000gp/T/ipykernel_89226/309962334.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['helpful_note_count'].fillna(0, inplace=True)

In [11]:
merged_df['formatted_output'] = 'Tweet: ' + merged_df['data'] + '\tHelpful Note: ' + merged_df['helpful_note_count'].astype(int).astype(str)

In [12]:
merged_df["formatted_output"]

0                                                       NaN
1                                                       NaN
2         Tweet: {'id': '1653785675165237249', 'context_...
3         Tweet: {'possibly_sensitive': False, 'entities...
4         Tweet: {'created_at': '2023-05-03T16:20:01.000...
                                ...
449841    Tweet: {'edit_history_tweet_ids': ['1696407681...
449842    Tweet: {'created_at': '2024-01-28T22:23:43.000...
449843    Tweet: {'edit_history_tweet_ids': ['1745113463...
449844    Tweet: {'entities': {'annotations': [{'start':...
449845    Tweet: {'attachments': {'media_keys': ['7_1700...
Name: formatted_output, Length: 449846, dtype: object

In [17]:
merged_df['tweetId'] = merged_df['tweetId'].astype(str)
merged_df['helpful_note_count'] = merged_df['helpful_note_count'].astype(str)

merged_df['formatted_output_2'] = 'Tweet ID: ' + merged_df['tweetId'] + '\tHelpful Note: ' + merged_df['helpful_note_count']

In [23]:
print(merged_df['formatted_output_2'].head())

0    Tweet ID: 1653785862847561731\tHelpful Note: 0.0
1    Tweet ID: 1653785803179409408\tHelpful Note: 0.0
2    Tweet ID: 1653785675165237249\tHelpful Note: 0.0
3    Tweet ID: 1653795300077875200\tHelpful Note: 0.0
4    Tweet ID: 1653796562684739590\tHelpful Note: 0.0
Name: formatted_output_2, dtype: object

In [24]:
import csv
merged_df.to_csv('output.tsv', columns=['formatted_output_2'], sep='\t', index=False, header=False, quoting=csv.QUOTE_NONE, escapechar='\\')

In [31]:
merged_df['is_helpful'] = merged_df['helpful_note_count'].astype(float).astype(int) > 0
output_data = merged_df[['tweetId', 'data', 'is_helpful']]

In [32]:
output_data.to_csv('tweet_data_helpfulness.tsv', sep='\t', index=False, header=True, quoting=csv.QUOTE_NONE, escapechar='\\')